header{background-color:#FFFF00;}
h1{text-align:center;
color:#FF0000;
text-transform:uppercase;}
h2{color:	#0000A0;
text-transform:uppercase;}
section{background-color:#FF00FF;}
a{background-color:#A52A2A;
color:#FFFFFF;}
img{display:none;}